fastapi
python-dotenv
httpx
PyJWT
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
supabase
GitPython
tiktoken
uvicorn
dotenv
uvicorn
paramiko
google
langchain
langchain_google_genai